<header>
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="">Shopping Online</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4" *ngIf="logged.token != null">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light name">
            <i class="fa fa-user"></i> Hello {{logged.user.name}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/userSettings">
            <i class="fa fa-edit"></i> User settings
          </a>
        </li>
        <li class="nav-item" *ngIf="logged.user.level == 2" routerLink="/statistics">
          <a class="nav-link waves-effect waves-light">
            <i class="fa fa-cogs"></i> Statistics
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" (click)="doLogout()">
            <i class="fa fa-sign-out"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
